<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width ,initial-scale=1.0 " />
<meta charset="UTF-8"/>

</head>
<body>
    <style>
        .button {
          display: inline-block;
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          color: rgb(230, 235, 133);
          background-color: rgb(156, 20, 219);
          border-radius: 6px;
          outline: none;
          margin-top: 3rem;
          margin-bottom: 3rem;
        }
        p{
          font-style: sans-serif;
        }
      </style>
    <h1>{{name}} مرحبا</h1>
    <h3>نحن سعيدون بإنضمامك لتطبيقنا, للبدء قم بتأكيد الإيميل</h3>
    <p>.نقوم بهذا من أجل حمايتك, إن لم تقم بالتسجيل لدينا يمكنك تجاهل هذه الرسالة</p>
    <a class="button" href="{{link}}">تأكيد التسجيل</a>
    <p>.هو تطبيق يهتم برعاية الاطفال Kidzy</p>

    <h3>!أهلا بك</h3>
    <p>.kidzy فريق</p>


</html>